body {
  max-width: 850px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  font-size: 12pt
}

h1,h2,h3,h4{
  font-weight:normal;
}
h1{
  font-weight: bold;
  font-size: 17pt
}

h2{
  font-size: 15pt
}

h3{
  font-size: 13pt
}

h4,h5,h6{
  font-size: 11pt
}

.menu { 
  text-align: right;
  color:#003371; 
  padding: 0;
}

/* header and footer areas */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  /*background: #eee;*/
  padding: 8px;
  /*margin: 2px;*/
  border-radius: 10px;
}

.article-meta { 
  text-align: left; 
  padding: 0px
}
footer { text-align: center; }


/*.title { font-size: ; }*/
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }


