body {
  font-family: Palatino Linotype, Garamond, Ubuntu, AR PL UMing HK, Open Sans,Microsoft Yahei, Simsun, serif;
}
code {
  font-family: Ubuntu Mono, Lucida Console, Courier New, Monaco,Microsoft Yahei, monospace;
  font-size: 90%;
}

h2,h3,h4,h5,h6{
	font-family: Microsoft Yahei, Alegreya,AR PL UMing HK, Open Sans, Arial,sans-serif;
}
