body {
  font-family: Myriad Pro, WenQuanYi Micro Hei,  Microsoft Yahei,Calibri, Arial, sans-serif;
}
code {
  font-family: Ubuntu Mono, Lucida Console, Courier New, Monaco, monospace;
  font-size: 85%;
}
